$primary-color: #ffffff;
$secondary-color: #fc0707;
$border-color: #cecbcb;
$text1-color: #eee;
$text2-color: rgb(59, 58, 58);
$text3-color: rgb(27, 27, 27);
$text4-color: rgb(63, 62, 62);

$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
